* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

body, html {
      height: 100%;
    }
body {
    display: flex;
}


#left-side-panel {
      position: relative;
    }
#grass-bg {
    width: 35rem;
    height: 100%;
}

#transparent-bg {
  position: absolute;
  top: 30%;         
  left: 0;
  width: 35rem;       
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  color: #fff;
  text-align: center;
}

#main-title {
    font-size: 5rem;
    color:#f8fafa;
    font-family: "Caesar Dressing", system-ui;
    font-style: normal;
}

#right-side-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
    }

#top-right{
    background-color:  #f8fbfb;
    font-size: 1.5rem;
    width: 65vw;
    padding: 35px 25px 30px 30px;
    height: 100%;
}

.top-right-text {
  padding-top: 55px;
}

.right-bottom-text {
  font-size: 1.5rem;
  padding-top: 30px;
  padding-bottom: 25px;

}